<form action="">
  
  <form-group [rules]="config && config.validation" [values]="values" hideContentIfNoError="true">
    <div class="validation hide-no-error">
      <alert type="danger">Кнопка настроена некорректно!</alert>  
      <alert type="warning">Необходимо указать текст и ссылку.</alert>  
    </div>
  </form-group>
  
  <form-group [rules]="config && config.validation && config.validation.byKeys.content" [values]="{text: values.label}">
    <label for="">
      {{t.getItem('Текст на кнопке')}}
      <input type="text" class="form-control" required
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="content" 
        (input)="handleUpdate()"
        [placeholder]="t.getItem('Введите')" required >
    </label>
  </form-group>
  
  <div class="radio">
    <label>
      <input type="radio" [(ngModel)]="type" (ngModelChange)="handleTypeUpdate($event)"  name="type" value="current" />
      {{ t.getItem('В текущем окне') }}
    </label>
  </div>
  
  <div class="radio">
    <label>
      <input type="radio" [(ngModel)]="type" (ngModelChange)="handleTypeUpdate($event)" name="type" value="download" />
       {{ t.getItem('Скачивание') }}
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio"  [(ngModel)]="type" (ngModelChange)="handleTypeUpdate($event)"  name="type" value="blank" />
      {{ t.getItem('В новом окне') }}
    </label>
  </div>

</form>
<form-group [rules]="config && config.validation && config.validation.byKeys.text" [values]="{text: values.text}">
<label for="">
  {{t.getItem('Вставте ссылку или выберите файл')}}
  <elfinder
    [fileUrl]="text" 
    [url]="config.elfinder.url" 
    [id]="id + config.locale"
    [text]="t.getItem('Загрузить файл')"
    [placeholder]="t.getItem('Введите ссылку на файл')"
    [lang]="config.elfinder.lang"
    (onChange)="handleTextUpdate($event)">
  </elfinder>
</label>
</form-group>