<form-group [rules]="config && config.validation" [values]="values" hideContentIfNoError="true">
	<div class="validation hide-no-error">
		<alert type="danger">Вопрос сформирован некорректно!</alert>	
		<alert type="warning">Необходимо ввести заголовок и описание вопроса, а также либо дать пользователю возможность указать свой ответ, либо ввести больше двух варинатов ответа на выбор. Правильный ответ не должен быть пустым.
		</alert>	
	</div>
</form-group>

<form-group [rules]="config && config.validation && config.validation.byKeys.name" [values]="{text: values.name}">
  <label>{{t.getItem('Заголовок вопроса')}}</label> 
  <input 
    type="text" 
    width="100%" 
    class="form-control" 
    [value]="questionName" 
    (blur)="handleUpdate()" 
    (input)="handleNameUpdate($event.target.value)" 
    id="headling" 
    [placeholder]="t.getItem('Введите заголовок')">
</form-group>

<div class="form-group">
  <label [for]="dragId + 'name'">{{t.getItem('Стоимость в баллах')}} 
  	<input  
	    type="number" 
	    [id]="dragId + 'name'"
	    width="100%" 
	    min="1"
	    class="form-control" 
	    [value]="points" 
	    (blur)="handleUpdate()" 
	    (input)="handlePointsUpdate($event.target.value)" 
	    id="headling" 
	    [placeholder]="t.getItem('Укажите стоимость')">
    </label>
</div>

<form-group [rules]="config && config.validation" showBorder="true" [values]="values">
	<label for="">
	  {{ t.getItem('Описание вопроса') }}
	</label>
	<app-ckeditor
	  [model]="description"
	  [key]="dragId + config.locale"
	  [config]="config.ckeditor"
	  (blur)="handleUpdate()"
	  (change)="handleDescriptionUpdate($event)"
	  debounce="500">
	</app-ckeditor>
</form-group>
<hr>
<elfinder-gallery 
  [images]="image" 
  [url]="config.elfinder.url" 
  [id]="dragId + config.locale"
  [singlePicture]="true"
  [imgBaseUrl]="config.elfinder.imgBaseUrl"
  [buttonText]="t.getItem('Выбрать изображение')"
  [alertText]="t.getItem('Вы можете выбрать изображение')"
  [lang]="config.elfinder.lang"
  (onChange)="handleImageUpdate($event)">
</elfinder-gallery>
<hr>
<div class="pl-25" style="margin-left: 25px">
	<label class="checkbox">
	  <input 
		type="checkbox" 
	    min="1"
	    [checked]="allowCustom" 
	    (change)="handleAllowCustomUpdate()"
	  >
	   {{ t.getItem('Свой вариант ответа?') }}
	</label>
</div>
<form-group *ngIf="!allowCustom" [rules]="{specialTest: true}" [values]="values" [@fade]="'in'">
	<hr>
	<table class="table">
		<colgroup>
			<col width="5%">
			<col width="50%">
			<col width="15%">
		</colgroup>
		<tbody>
			<tr>
				<th>
					Правильный ответ
				</th>
				<th>
					Описание
				</th>
				<th>
					
				</th>
			</tr>
			<tr *ngFor="let option of options;  let i = index; trackBy:trackOption" [@fade]="'in'" >
				<td width="20px"> 
					<label class="radio-inline" style="width: 100%">
						<input 
							type="radio" 
							[checked]="option.correct"
							(click)="handleCurrentOptionSelected(i)"
							[name]="'option' + dragId" 
						/>
					</label>
				</td>
				<td class="form-group">
					<input 
						type="text" 
						[value]="option.text" 
						(blur)="handleUpdate()"
						(input)="handleOptionTextUpdate(i, $event.target.value)"
						class="form-control" 
						[placeholder]="t.getItem('Текст ответа')" 
					/>
				</td>
				<td>
					<button type="button" (click)="removeOption(i)" class="btn btn-danger" style="margin-left: 20px" *ngIf="options && options.length > 2">
						<i class="fa fa-trash"></i> {{t.getItem('Удалить')}}
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-success" (click)="addOption()">
		<i class="fa fa-plus"></i> {{t.getItem('Добавить вариант ответа')}}
	</button>
</form-group>


	