<form>
  <label>
    <input [checked]="alternative" (change)="handleAlt()" type="checkbox"> {{t.getItem('Альтернативное выделение?')}}
  </label>
  <div class="form-group" style="font-style: normal;">
    <label [for]="id">{{ t.getItem('Цитата')}}</label>
    <textarea width="100%" 
    required 
    	class="form-control" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="text" [id]="id" (change)="handleUpdate()" id="headling" [placeholder]="t.getItem('Введите цитату')">
      </textarea>
  </div>
</form>