<div class="nice-forms" [class.hide-validation]="hideValidationError">
  <div class="validation">
    <div *ngIf="hasError">
      <alert  type='danger'>
        <div *ngFor="let error of validationErrors">
        <div *ngIf="error.errors.length > 0" >
            {{t.getItem('Проверте следующие поля языка')}} <strong>{{error.locale}}</strong> 
            <ul>
              <li *ngFor="let name of error.errors">
                {{name}}
              </li>
            </ul>
        </div>
        </div>
      </alert>
    </div>
  </div>

  <div *ngIf="configs.length === 1">
    <list-wrapper [config]="configs[0]"></list-wrapper>
  </div>

  <tabset *ngIf="configs.length > 1">  
    <tab  
    *ngFor="let config of configs; let i = index;" 
    [heading]="config.config.persist.name"
    [active]="config.active"
    (select)="setCurrentLang(config.config.persist.name)"
    (deselect)="setLangViewed(config.config.persist.name)">
      <list-wrapper 
      [config]="config"
      [warning]="langsAutocompleted[config.config.persist.name] ? 
        t.getItem('Для этого языка некоторые поля заполненны автоматически') 
        : '' "></list-wrapper>
    </tab>
  </tabset>
</div>
